body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    margin: 0;
    background-color: #E4E2DD;
    color: #171716;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-style: italic;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-shadow: #4d4c4c 6px 6px 10px;
    font-size: 46px;
}

.contenedor {
    width: 100%;
  }

form {
    border: 1px;
    padding: 20px;
    border-radius: 5px;
  }

.menu {
    margin-left: 35%;
    margin-right: 35%;
    text-align: left;

    .casillas {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background: #E4E2DD;
        font-weight: bold;
        padding: 10px 10px;
        border-radius: 15px;
        margin-top: 2%;

        .genero {
            font-weight: normal;
        }

        .casillasGenero{
            margin-left: 5%;
            margin-top: 3%;
        }

        #opcionCorreo{
            margin-top: 10%;
            font-weight: normal;
            letter-spacing: 10%;
        }

    }
}

.botonesFinal {
    text-align: center;

    #botonesregistro {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        background: #171716;
        color: white;
        font-weight: bold;
        text-decoration: none;
        border-color: #171716;
        border-radius: 10px;
        padding: 7px 10px;
        transition: .3s;
    }

    #botonesregistro:hover {
        background: #E4E2DD;
        color: #171716;
        font-weight: bold;
        border-radius: 12px;
        font-size: 16px;
    }
}

#final{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 20px solid #4d4c4c;
    border-bottom: 20px solid #4d4c4c;
    background-color: #4d4c4c;
    text-align: center; 
}

#enlaceFinal {
    text-decoration: none;
    color: #E4E2DD;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 30px;
}

